{% extends '../layout.html' %}

{% block title %}
  Live - {{liveTitle}}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/stylesheets/announcer.css">
{% endblock %}


{% block content %}
{% include '../components/navigation/navigation.html' %}
  <div class="container">

    <h1>{{liveTitle}}</h1>
     <p id="presentation"cl>{{LivePresentation}}</p>
      <p id='controlsLabel'>Controles:</p>
    <div id=controls>
   
    <button id="start">Start</button>
    <button id="stop">Stop</button>
  
    <label for="recording">Enregistrer le podcast</label>
   <input type="checkbox" id="recordPodcast" name='recording' checked=true</input>
    <div class="slidecontainer">
         Distortion:
         <label for="distortion">Distortion</label>
    <input type="range" min="0" max="1000" value="0" class="slider" name="distortion" id="distortion">
    </div>
    <div class="slidecontainer">
            <label for="gain">Volume voix: </label>
    <input type="range" min="0" max="100" value="50" class="slider" name="gain" id="gain">
    </div>
    <div class="slidecontainer">
            <label for="musicGain">Volume musique:</label>
      <input type="range" min="0" max="100" value="50" class="slider" name="musicGain" id="musicGain">
    </div>
    <label for="mute">Couper la voix</label>
     <input type="checkBox" id="muteBox" name="mute"></input>
     <label for="feedback">Activer le retour</label>
    <input type="checkBox" id="feedBackBox" name='feedback'></input>
      <button id="playFile">Play file</button>
    <button id="musicTest">Test file</button>
    <button id='stopMusic'>Stop file</button>
  </div>
    
   


   
    <audio src="" id="finalRecording"></audio>


  </div>

{% endblock %}

{% block script %}
  <script src="{{jsFile}}/serialijse.bundle.min.js"></script>
  <script src="{{jsFile}}/socket.io.js"></script>
  <script src="{{jsFile}}/presenter.js"></script>
{% endblock %}