{% extends '../layout.html' %}

{% block title %}Login{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/stylesheets/createLive.css">
{% endblock %}


{% block content %}

{% include '../components/navigation/navigation.html' %}

  <div class="container">    

    <h1>CRÉER UN LIVE</h1>

    <form action="/:username/makelive/valid" method="post">
        <div class="under_form">
            <label for="date_start">Date début (Exemple: 07/04/2021-15:00)</label>
            <input name="date_start" type="text"  id="date_start" placeholder="jj/mm/aaaa-hh:mm" />
            <label for="date_end">Date fin (Exemple: 07/04/2021-18:00)</label>
            <input name="date_end" type="text"  id="date_end" placeholder="jj/mm/aaaa-hh:mm" />
        </div>

        <div class="under_form">
            <label for="title">Titre</label>
            <input name="title" type="text"  id="title" placeholder="Mon titre" />
        </div>

        <div class="under_form">
            <label for="desciption">Desciption</label>
            <input name="desciption" type="text" id="desciption" placeholder="Ma description" />
        </div>

        <div class="under_form">
            <label for="theme">Thème</label>
            <input name="theme" type="text" id="theme" placeholder="Films;Économies" />
        </div>

        <input type="submit" id="submit" placeholder="live_create" value="Valider" />
        
    </form>

  </div>

{% endblock %}