{% extends '../layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}


{% block content %}

  <div class="container">

    <h1 class="components_main-title">{{presentator}} est en live</h1>

    <h2 class="title">{{liveTitle}}</h2>

    	
    <progress value="150" max="200">50%</progress> 


    <button id="playButton">Play/Pause</button>

    <p cl>{{LivePresentation}}</p>

  </div>

{% endblock %}

{% block script %}
  <script src="js/serialijse.bundle.min.js"></script>
  <script src="js/socket.io.js"></script>
  <script src="js/streamer.js"></script>
{% endblock %}