{% extends '../layout.html' %}

{% block title %}Login{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/stylesheets/register.css">
{% endblock %}


{% block content %}

{% include '../components/navigation/navigation.html' %}

  <div class="container">    

    <h1>INSCRIPTION</h1>

    <h2>Pourquoi s'inscrire sur Net'Radio ?</h2>

    <div class="desciption">Vous inscrire vous permettra d'être tenu au courant des dates d'émissions en suivant des présentateurs ou des émissions que vous aimez.</div>

    <form action="/signup/valid" method="post">
        <input name="username" type="text"  id="username" placeholder="Pseudo" />
        <input name="password" type="password" id="password" placeholder="Mot de passe" />
        <input name="passwordConfirm" type="password" id="passwordConfirm" placeholder="Mot de passe confirmation" />
        <input name="mail" type="mail" id="mail" placeholder="Adresse mail" />
        <input type="submit" id="submit" placeholder="Pseudo" value="S'inscrire" />
    </form>

  </div>

{% endblock %}