{% extends '../layout.html' %}

{% block title %}Login{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/stylesheets/updateAuditor.css">
{% endblock %}


{% block content %}

{% include '../components/navigation/navigation.html' %}

  <div class="container">    

    <h1>MODIFICATION PROFIL</h1>

    <form action="/:username/profil/valid" method="post">
        <div class="under_form">
            <label for="pseudo">Pseudo</label>
            <input name="username" type="text"  id="username" placeholder="Pseudo" value={{pseudo}} />
        </div>

        <div class="under_form">
            <label for="mail">Adresse Mail</label>
            <input name="mail" type="mail" id="mail" placeholder="Adresse mail" value={{mail}} />
        </div>

        <div class="under_form">
            <label for="password">Mot de passe</label>
            <input name="password" type="password" id="password" placeholder="Mot de passe" value={{password}} />
        </div>

        <input type="submit" id="submit" placeholder="personal_data" value="Modifier" />
        
    </form>

  </div>

{% endblock %}